*{
    margin:1px;
    padding:0px;
    font-family: 'Fira Sans';
    font-style: normal;
}

/*nav*/
.nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.sign{
    padding: 10px 15px;
    background-color: white;
    border: 1px solid #006A50;
    color: #006A50;
    border-radius: 8px ;
}

/*banner*/
.banner{
    width:80%;
    height: 500;
    background-color: #C6E4D6;
    margin: 0 auto;
    border-radius: 20px;
}
.h5-col{
    color: rgba(14, 14, 14, 0.5);
    padding-bottom: 5px;
}
.h1-col{
    color:black;
    font-weight: 700;
    font-size: 50px;
    padding-bottom: 20px;
}
.banner-content{
    align-items: center;
    text-align: justify;
    padding-top: 100px;
    padding-right:20px;
    padding-bottom: 40px;
}
.banner-img{
    align-items: center;
    width:30%;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
}
.banner-img img {
    width: 100%; 
    height: auto; 
    object-fit: cover;
    margin-bottom: 20px;
}
.banner-column{
    display: flex;
    justify-content: space-around;
    gap:5px;
}
.explore{
    padding: 15px 30px;
    background-color: #006A50;
    color: white;
    border-radius: 8px;
    border: none;
}

/*Future-vision*/
.vision{
    width:80%;
    height: 500;
    margin: 0 auto;
    padding-top: 50px;
}
p{
    font-weight: 400;
    font-size: 16px;
    color: #0e0e0eb3;
    padding: 3px;
    padding-top: 25px;
}
.item{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-top: 30px;
    padding-bottom: 50px;
}
.item-1{
    padding: 20px;
    border-radius: 5px;
    border-radius: 16px;
    background: #5490f533;
    width: 350px;
    height: 240px;
}
.item-2{
    padding: 20px;
    border-radius: 5px;
    border-radius: 16px;
    background:#C6E4D6;
    width: 350px;
    height: 240px;
}
.item-3{
    padding: 20px;
    border-radius: 5px;
    border-radius: 16px;
    background:#F7EBCF;
    width: 350px;
    height: 240px;
}

.item-1 h3{
    padding-top: 20px;
}
.item-2 h3{
    padding-top: 20px;
}
.item-3 h3{
    padding-top: 20px;
}
.item-1 p{
    padding-top: 20px;
}
.item-2 p{
    padding-top: 20px;
}
.item-3 p{
    padding-top: 20px;
}
button{
    padding: 10px 30px;
    border-radius: 8px;
    margin-top: 10px;
    border: none;
}
.btn-1{
    background-color: #5490F5;
}
.btn-2{
    background-color:#006A50;
}
.btn-3{
    background-color:#FFC239;
}

/*recent-news*/
.recent{
    width: 80%;
    align-items: center;
    margin: 0 auto;

}
.news-container{
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card-1,.card-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 320px;
    margin:0 auto;
    margin-top: 10px;
    background-color: rgb(245, 243, 243);
     /*border: 1px solid gray;*/
    border-radius: 20px;
}
.img-box1{
    width: 300px;
    height: auto;
    border-radius: 30px;
    padding: 30px;
}
.img-box2{
    height: 30px;
    padding-top:2px ;
}
.box-title{
    font-weight: 700px;
    color: rgba(14, 14, 14, 0.8);
}
.connect{
    padding: 12px 25px;
    background-color:#006A50;
    color: white;
    border-radius: 8px;
    margin-top: 15px;
    border: none;
}




















